* {
  box-sizing: border-box;
}

.app-container {
  display: grid;
  gap: 10px;
}

.cell {
  --dimension: 100px;
  border: 1px solid black;
  width: var(--dimension);
  height: var(--dimension);
  color: green;
}

.active-cell {
  background-color: green;
}
