::root {
  --primary: #171717;
  --primary-hover: #0a0a0a;
  --primary-invert: #fff;
  --secondary: #525252;
  --tertiary: #737373;
  --brand: #4338ca;
  --disabled: #a3a3a3;
  --error: #dc2626;
  --error-emphasize: #991b1b;
  --success: #15803d;
  --warning: #a16207;

  --background-primary: #fff;
  --background-primary-inverted: #0a0a0a;
  --background-primary-hover: #fafafa;
  --background-secondary: #e5e7eb;
  --background-secondary-hover: #d1d5db;
  --background-tertiary: #fafafa;
  --background-disabled: #f5f5f5;
  --background-disabled-emphasize: #f3f4f6;
  --background-brand-primary: #4338ca;
  --background-brand-primary-emphasize: #3730a3;
  --background-error: #dc2626;
  --background-error-emphasize: #b91c1c;
  --background-error-subtle: #fef2f2;
  --background-success-subtle: #f0fdf4;
  --background-brand-subtle: #eef2ff;
  --background-neutral-subtle: #f9fafb;
  --background-warning-subtle: #fffbeb;

  --line-primary: #e5e5e5;
  --line-secondary: #9ca3af;
  --line-success: #bbf7d0;
  --line-brand-solid: #4f46e5;
  --line-brand-subtle: #c7d2fe;
  --line-error-subtle: #fecaca;
  --line-warning-subtle: #fde68a;

  --icon-emphasize: #404040;
  --icon-primary: #a3a3a3;
  --icon-primary-hover: #737373;
  --icon-brand: #6366f1;
  --icon-brand-background: #eef2ff;
  --icon-success: #15803d;
  --icon-error: #dc2626;
  --icon-warning: #facc15;

  --text-title: #404040;
  --text-placeholder: #737373;
  --text-hint: #737373;
  --text-filled: #171717;
  --text-disabled: #a3a3a3;
  --text-error: #dc2626;
  --input-background: #fafafa;
  --border: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  display: flex;
  max-width: 1440px;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 6.5rem 6rem;
  background-color: white;
  border-radius: 0.5rem;
  min-height: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-container__header-title {
  font-size: 1.875rem;
  font-weight: 600;
}

.header-container__view-all-btn {
  padding: 0.625em;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: 0 0 3px var(--border);
}

.header-container__view-all-btn:hover {
  background-color: var(--background-primary-hover);
  cursor: pointer;
}

.header-container__view-all-btn:focus {
  outline: 3px solid #c7d2fe;
  background-color: var(--background-primary-over);
}

.header-container__view-all-btn:disabled {
  background-color: #f5f5f5;
  color: #a3a3a3;
}

.product-container {
  display: flex;
  flex-direction: column;
  height: 29.25rem;
}

.product-container:hover {
  cursor: pointer;
}

.product-container:hover .product-container__name {
  color: #4338ca;
  cursor: pointer;
}

.product-container:focus {
  outline: 3px solid #c7d2fe;
  border-radius: 0.5rem;
}

.img-container {
  height: 18.75rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.img-container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-container__selected-color {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #525252;
}

.product-container__name {
  margin-top: 2px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #171717;
}

.price-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #737373;
}

.price-container :last-child {
  font-size: 0.9rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 17.5rem);
  grid-gap: 2rem;
}

.color-btn {
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 0.5rem;
  padding: 0px;
}

.colors-container {
  margin-top: 0.75rem;
}

@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 21rem);
  }

  .app-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .products-container {
    grid-template-columns: repeat(1, 19.9rem);
  }

  .app-container {
    padding: 0.75rem;
  }

  .header-container {
    margin-top: 2.25rem;
  }
}
