* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 340px;
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 48px;
}

.hint-text {
  margin-top: 10px;
}

.input {
  margin-top: 10px;
  max-width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #f9fafb;
  padding: 10px;
}

.input:focus {
  outline-color: #4338ca;
}

.input-error {
  outline-color: #dc2626;
}

.input-error:focus {
  max-width: 100%;
  outline-color: #dc2626;
}

.input-disabled:hover {
  cursor: not-allowed;
}

.error-message {
  margin-top: 10px;
  color: #dc2626;
}

.label {
  color: #525252;
}
